.loader {
  width: 20px;
  height: 20px;
  border: 2px solid var(--Primitive-400);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}
.type2 {
  border: 2px solid var(--Blue-500);
  border-bottom-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
