.wrapper {
  background: var(--Primitive-900);
  padding: 12px 16px;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px 12px;
  width: 100%;
}
.wrapper:hover {
  transform: translateY(0px);
  opacity: 0.7;
}
.icon {
  color: var(--Primitive-600);
  font-size: 20;
  cursor: pointer;
}
