.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 220px;
  width: 90%;
  margin: 25px auto;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.img {
  max-width: 80px;
  display: 100%;
  display: block;
}
