.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 141px;
  align-items: center;
  padding: 40px 0;
  padding-top: 80px;
}
.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.img {
  max-width: 222px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.infoContainer {
  display: flex;
  flex-direction: column;

  gap: 24px;
  max-width: 514px;
  width: 100%;
}
.button {
  padding-top: 8px;
}
.info {
  color: rgba(230, 246, 255, 0.8);
}

@media only screen and (max-width: 1199px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .infoContainer {
    align-items: center;
    max-width: 100%;
  }
  .heading,
  .info {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    gap: 120px;
  }
}
@media only screen and (max-width: 520px) {
}
