.heading {
  max-width: 1199px;
  width: 90%;
  margin: 0 auto;
  font-size: 70px;
  min-height: 100vh;

  margin: auto;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
